---
Checks: 'cppcoreguidelines-*,bugprone-*,modernize-*,
         readability-*,portability-*,performance-*,misc-*,
         -modernize-use-trailing-return-type,-misc-include-cleaner,
         -readability-identifier-length,-cppcoreguidelines-pro-*'

